:root {
    --background-color: #1A1B1A;
    
    --text-color: #F0F7EE;
    --text-sleep-color: #F0F7EE88;

    --primary-color: #058ED9;
    --primary-focus-color: #7BC3E4;

    --background-emphasis-color: #000;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #F0F7EE;
    
        --text-color: #1A1B1A;
        --text-sleep-color: #1A1B1A88;
    
        --primary-color: #058ED9;
        --primary-focus-color: #27187E;

        --background-emphasis-color: #FFF;
    }
}

body {
    margin: 0;

    background-color: var(--background-color);
    color: var(--text-color);

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    position: fixed;
    top: 1rem;
    right: 1rem;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-focus-color);
}

#hero {
    height: 100dvh;
    display: flex;
    align-items: center;

    font-size: 4rem;
    padding-left: 0.5rem;
}

b {
    color: var(--primary-color);
    font-weight: 500;
}

.project-item {
    min-height: 50dvh;
    display: flex;
    flex-direction: column;
}

.work-item {
    min-height: 40dvh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 0.25rem;
}

h1 {
    font-weight: normal;

    font-size: 2rem;
}

h2 {
    font-weight: normal;
    margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;

    font-size: 1.25rem;
}

h3 {
    font-weight: normal;
    margin-block-start: 0rem;
    margin-block-end: 0rem;

    font-size: 1.1rem;

    color: var(--text-sleep-color);
}

p {
    line-height: 1.5rem;
}

@media screen and (min-width: 960px) {
    #hero {
        font-size: 8rem;
        padding-left: 2rem;
    }

    main {
        padding: 1.5rem;

        font-size: 1.25rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}
